.jumbotron {
  background-image: url('./../../assets/bg1.jpg');

  background-size: contain;
  padding-top: 20%;
  padding-bottom: 25%;
}

.container-fluid {
  background-image: url('./../../assets/bg1.jpg');
}
