.person-detail {
  &.movie-credit-section {
    width: 50%;
  }
}

.person-detail {
  .person-detail-profile-image {
    margin: 10px;
    padding: 30px;
    height: 50%;
    width: 10%;
    position: relative;
    object-fit: contain;
    float: right;
  }
}
